body {
  margin: 0;
}

article {
  padding: 0 15%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  margin-left: 4px;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header .header-links {
  font-size: 18px;
}